name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/doom.yml'
      - 'doom/**'
  schedule:
    - cron: '0 0 1,16 * *'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker HUB
      run: echo ${{ secrets.DOCKERPASSWORD }} | docker login --username omanshkrishn --password-stdin

    - name: Build and push Docker image
      run: |
        docker buildx create --use
        docker buildx inspect --bootstrap
        docker buildx build -t omanshkrishn/crave-archlinux-aosp:latest -t omanshkrishn/crave-archlinux-aosp:$(date +%Y%m%d%H%M%S) --platform linux/amd64 . --push
    - name: KeepAlive
      shell: bash
      run: |
        git config user.name "Omansh Krishn" && git config user.email "omansh@duck.com"
        git fetch origin keepalive && git checkout keepalive
        TIMESTAMP=$(date +%s)
        echo "${TIMESTAMP}" >> timestamp
        git add timestamp
        git commit --signoff -m "KeepAlive: ${TIMESTAMP}"
        git push origin keepalive
